openapi: 3.1.0
info:
  title: Upstash Workflow REST API
  description: |
    Upstash Workflow is a serverless workflow orchestration service built on top of Upstash QStash and Upstash Redis.
  version: 2.0.0
  contact:
    name: Upstash
    url: https://upstash.com
servers:
  - url: https://qstash.upstash.io
security:
  - bearerAuth: []
  - bearerAuthQuery: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: QStash authentication token
    bearerAuthQuery:
      type: apiKey
      in: query
      name: qstash_token
      description: QStash authentication token passed as a query parameter

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message

    FlowControlKey:
      type: object
      properties:
        flowControlKey:
          type: string
          description: The flow control key name
        waitlistSize:
          type: integer
          description: The number of messages waiting due to flow control configuration.

    SigningKeys:
      type: object
      properties:
        current:
          type: string
          description: The current signing key.
        next:
          type: string
          description: The next signing key.

    WorkflowDLQMessage:
      type: object
      properties:
        dlqId:
          type: string
          description: The DLQ ID of the failed workflow message.
        workflowUrl:
          type: string
          description: The URL of the workflow.
        workflowRunId:
          type: string
          description: The ID of the workflow run.
        workflowCreatedAt:
          type: integer
          format: int64
          description: The timestamp when the workflow run was created (Unix timestamp in milliseconds).
        url:
          type: string
          description: The URL of the failed workflow step.
        method:
          type: string
          description: The HTTP method used for the workflow step.
        header:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The HTTP headers sent to the workflow step.
        body:
          type: string
          description: The body of the message if it is composed of utf8 chars only, empty otherwise.
        bodyBase64:
          type: string
          description: The base64 encoded body if the body contains a non-utf8 char only, empty otherwise.
        maxRetries:
          type: integer
          description: The number of retries that should be attempted in case of delivery failure.
        createdAt:
          type: integer
          format: int64
          description: The unix timestamp in milliseconds when the message was created.
        failureCallback:
          type: string
          description: The url where we send a callback to after the workflow fails.
        callerIP:
          type: string
          description: IP address of the publisher of this workflow.
        label:
          type: string
          description: The label assigned to the workflow run.
        flowControlKey:
          type: string
          description: The flow control key used for rate limiting.
        failureFunctionState:
          type: string
          description: The state of the failure function if applicable.
        responseStatus:
          type: integer
          description: The HTTP status code received from the destination API.
        responseHeader:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The HTTP response headers received from the destination API.
        responseBody:
          type: string
          description: The body of the response if it is composed of utf8 chars only, empty otherwise.
        responseBodyBase64:
          type: string
          description: The base64 encoded body of the response if the body contains a non-utf8 char only, empty otherwise.

    Waiter:
      type: object
      properties:
        url:
          type: string
          description: The URL that is waiting for the event notification.
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The HTTP headers to send with the notification.
        deadline:
          type: integer
          format: int64
          description: The Unix timestamp in seconds when the wait operation times out.
        timeoutBody:
          type: string
          format: byte
          description: The body to send if the wait times out.
        timeoutUrl:
          type: string
          description: The URL to call if the wait times out.
        timeoutHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The HTTP headers to send with the timeout callback.

    NotifyResponse:
      type: object
      properties:
        waiter:
          $ref: '#/components/schemas/Waiter'
          description: The waiter that was notified.
        messageId:
          type: string
          description: The ID of the notification message that was published.
        deduplicated:
          type: boolean
          description: Whether this notification was deduplicated.
        error:
          type: string
          description: Error message if the notification failed.
        workflowRunId:
          type: string
          description: The workflow run ID if the notification was sent within a workflow.
        workflowCreatedAt:
          type: integer
          format: int64
          description: The timestamp when the workflow run was created (Unix timestamp in milliseconds).

    WorkflowEvent:
      type: object
      properties:
        time:
          type: integer
          format: int64
          description: The timestamp of the event (Unix timestamp in milliseconds).
        state:
          type: string
          description: The state of the workflow or step (e.g., RUN_STARTED, STEP_SUCCESS, RUN_FAILED).
        workflowRunId:
          type: string
          description: The ID of the workflow run.
        workflowUrl:
          type: string
          description: The URL of the workflow.
        workflowCreatedAt:
          type: integer
          format: int64
          description: The timestamp when the workflow run was created (Unix timestamp in milliseconds).
        stepInfo:
          $ref: '#/components/schemas/StepInfo'
        nextDeliveryTime:
          type: integer
          format: int64
          description: The next scheduled delivery time for a retrying step (Unix timestamp in milliseconds).
        error:
          type: string
          description: Error message if the state is error.
        responseStatus:
          type: integer
          description: HTTP status code of the response for error states.
        responseBody:
          type: string
          description: Response body for error states.
        responseHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Response headers for error states.
        headers:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The headers of the message.
        invokerWorkflowRunId:
          type: string
          description: The run ID of the workflow that started this workflow (only in RUN_STARTED).
        invokerWorkflowUrl:
          type: string
          description: The URL of the workflow that started this workflow (only in RUN_STARTED).
        invokerWorkflowCreatedAt:
          type: integer
          format: int64
          description: The creation timestamp of the invoker workflow (only in RUN_STARTED).
        workflowRunResponse:
          type: string
          description: The response returned by the workflow run (only in RUN_SUCCESS).
        dlqId:
          type: string
          description: The DLQ ID if the workflow run failed (only in RUN_FAILED).
        label:
          type: string
          description: Label of the workflow run.
        callerIp:
          type: string
          description: IP address of the client who submitted the workflow.

    StepInfo:
      type: object
      properties:
        stepId:
          type: integer
          format: int64
          description: The unique identifier for this step.
        stepName:
          type: string
          description: The name of the step.
        stepType:
          type: string
          description: The type of step (e.g., call, wait, sleep, invoke).
        callType:
          type: string
          description: The call type (e.g., step, parallelPlan, parallelResult).
        messageId:
          type: string
          description: The message ID for this step.
        state:
          type: string
          description: The state of the step (STEP_SUCCESS, STEP_RETRY, STEP_FAILED, STEP_PROGRESS, STEP_CANCELED).
        createdAt:
          type: integer
          format: int64
          description: When the step was created (Unix timestamp in milliseconds).
        out:
          type: string
          description: The output/result of the step.
        callUrl:
          type: string
          description: The URL called in this step.
        callMethod:
          type: string
          description: The HTTP method used.
        callBody:
          type: string
          description: The request body sent.
        callHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The request headers sent.
        callResponseStatus:
          type: integer
          format: int64
          description: The HTTP status code received.
        callResponseBody:
          type: string
          description: The response body received.
        callResponseHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The response headers received.
        waitEventId:
          type: string
          description: The event ID being waited for (wait steps only).
        waitTimeout:
          type: boolean
          description: Whether the wait timed out.
        invokedWorkflowRunId:
          type: string
          description: The run ID of the invoked workflow (invoke steps only).
        invokedWorkflowUrl:
          type: string
          description: The URL of the invoked workflow.
        retries:
          type: integer
          description: Maximum number of retries configured.
        nextDeliveryTime:
          type: integer
          format: int64
          description: Next scheduled retry time (Unix timestamp in milliseconds).

    GroupedSteps:
      type: object
      properties:
        steps:
          type: array
          items:
            $ref: '#/components/schemas/StepInfo'
          description: Array of steps in this group.
        type:
          type: string
          enum: [parallel, sequential, next]
          description: The type of grouping (parallel, sequential, or next).

    InvokerContext:
      type: object
      properties:
        workflowRunId:
          type: string
          description: The workflow run ID of the invoker.
        workflowUrl:
          type: string
          description: The workflow URL of the invoker.
        workflowRunCreatedAt:
          type: integer
          format: int64
          description: The creation timestamp of the invoker workflow run.

    FailureFunction:
      type: object
      properties:
        messageId:
          type: string
          description: The message ID of the failure callback.
        url:
          type: string
          description: The URL of the failure callback.
        state:
          type: string
          description: The state of the failure callback.
        dlqId:
          type: string
          description: The DLQ ID of the failure callback if it failed.
        failHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The headers from the failed workflow step.
        failStatus:
          type: integer
          description: The status code from the failed workflow step.
        failResponse:
          type: string
          description: The response body from the failed workflow step.
        responseBody:
          type: string
          description: The response body from the failure callback attempt.
        responseHeaders:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: The response headers from the failure callback attempt.
        responseStatus:
          type: integer
          description: The response status from the failure callback attempt.
        maxRetries:
          type: integer
          description: Maximum number of retries configured for the failure callback.

    WorkflowRun:
      type: object
      properties:
        workflowRunId:
          type: string
          description: The unique identifier for this workflow run.
        workflowUrl:
          type: string
          description: The URL of the workflow.
        workflowState:
          type: string
          description: The current state of the workflow run (e.g., RUNNING, SUCCESS, FAILED).
        workflowRunCreatedAt:
          type: integer
          format: int64
          description: When the workflow run was created (Unix timestamp in milliseconds).
        workflowRunCompletedAt:
          type: integer
          format: int64
          description: When the workflow run completed (Unix timestamp in milliseconds).
        workflowRunCallerIp:
          type: string
          description: IP address of the client who triggered the workflow.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/GroupedSteps'
          description: The workflow steps grouped by execution pattern.
        rawSteps:
          type: array
          items:
            $ref: '#/components/schemas/StepInfo'
          description: Raw list of all steps (only included if rawSteps parameter is true).
        workflowRunResponse:
          type: string
          description: The response returned by the workflow run.
        invoker:
          $ref: '#/components/schemas/InvokerContext'
          description: Information about the workflow that invoked this one.
        failureFunction:
          $ref: '#/components/schemas/FailureFunction'
          description: Information about the failure callback if configured.
        dlqId:
          type: string
          description: The DLQ ID if the workflow run failed.
        label:
          type: string
          description: Label assigned to the workflow run.

paths:
  /v2/trigger/{workflowUrl}:
    post:
      tags:
        - Runs
      summary: Trigger Workflow Run
      description: Start a new workflow run.
      parameters:
        - in: path
          name: workflowUrl
          required: true
          schema:
            type: string
          description: The URL of the workflow to trigger.
        - in: header
          name: Upstash-Workflow-RunId
          required: false
          schema:
            type: string
          description: Optional custom run ID for the workflow run. A random ID will be generated if not provided.
        - in: header
          name: Upstash-Retries
          required: false
          schema:
            type: integer
            default: 3
          description: Number of retries for the workflow steps in case of failure.
        - in: header
          name: Upstash-Delay
          required: false
          schema:
            type: integer
            default: 0
          description: Delay in seconds before starting the workflow run.
        - in: header
          name: Upstash-Flow-Control-Key
          required: false
          schema:
            type: string
          description: Flow control key to manage concurrency for the workflow run. Steps with the same key will respect the same concurrency limit.
        - in: header
          name: Upstash-Flow-Control-Value
          required: false
          schema:
            type: string
          description: |
            Parallelism and rate limit configuration for the flow control key in the format:
             `parallelism=<value>, rate=<value>, period=<value>`.
        - in: header
          name: Upstash-Label
          required: false
          schema:
            type: string
          description: Optional label to attach to the workflow run for easier identification in logs and DLQ.
        - in: header
          name: Upstash-Failure-Callback
          required: false
          schema:
            type: string
          description: Failure callback URL to be called if the workflow run fails after all retries.
        - name: Upstash-Retry-Delay
          in: header
          schema:
            type: string
          description: |
            Customize the delay between retry attempts when step delivery fails.

            By default, Upstash Workflow uses [exponential backoff](/qstash/features/retry). You can override this by providing a mathematical expressions to compute next delay. This expression is computed after each failed attempt.
            
            You can use the special variable `retried`, which is how many times the message has been retried. The `retried` is 0 for the first retry.
            
            Supported functions: 
            | Function    | Description                          |
            |-------------|--------------------------------------|
            | `pow(x, y)`| Returns x raised to the power of y|
            | `exp(x)`| Returns e raised to the power of x|
            | `sqrt(x)`| Takes the square root of x|
            | `abs(x)`| Returns the absolute value of x|
            | `floor(x)`| Returns the largest integer less than or equal to x|
            | `ceil(x)`| Returns the smallest integer greater than or equal to x|
            | `round(x)`| Rounds x to the nearest integer|
            | `min(x, y)`| Returns the smaller of x and y|
            | `max(x, y)`| Returns the larger of x and y|
            
            Examples:
            - `1000`: Fixed 1 second delay
            - `1000 * (1 + retried)`: Linear backoff
            - `pow(2, retried) * 1000`: Exponential backoff
            - `max(1000, pow(2, retried) * 100)`: Exponential with minimum 1s delay

      requestBody:
        description: The raw request payload passed to the workflow endpoints as is. You can access it via requestPayload parameter on the context object.
        content:
          text/plain:
            schema:
              type: string
          application/json:
            schema:
              type: object
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Workflow triggered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRunId:
                    type: string
                    description: The ID of the triggered workflow run.
                  workflowCreatedAt:
                    type: number
                    format: date-time
                    description: The timestamp when the workflow run was created.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/runs/{workflowRunId}:
    delete:
      tags:
        - Runs
      summary: Cancel Workflow Run
      description: Cancel an ongoing workflow run.
      parameters:
        - in: path
          name: workflowRunId
          required: true
          schema:
            type: string
          description: The ID of the workflow run to cancel.
      responses:
        '200':
          description: Workflow run cancelled successfully
  /v2/workflows/runs:
    delete:
      tags:
        - Runs
      summary: Bulk Cancel Workflow Runs
      description: Cancel all matching workflow runs.
      parameters:
        - in: query
          name: workflowUrl
          required: true
          schema:
            type: string
          description: The URL of the workflow whose runs to cancel.
        - in: query
          name: workflowRunIds
          required: false
          schema:
            type: array
            items:
              type: string
          description: Optional list of specific workflow run IDs to cancel. If provided, the other filters are ignored.
        - in: query
          name: fromDate
          required: false
          schema:
            type: number
            format: date-time
          description: Optional start date to filter workflow runs to cancel. Unix timestamp in milliseconds.
        - in: query
          name: toDate
          required: false
          schema:
            type: number
            format: date-time
          description: Optional end date to filter workflow runs to cancel. Unix timestamp in milliseconds.
        - in: query
          name: callerIp
          required: false
          schema:
            type: string
          description: Optional caller IP address to filter workflow runs to cancel.
        - in: query
          name: flowControlKey
          required: false
          schema:
            type: string
          description: Optional flow control key to filter workflow runs to cancel.
        - in: query
          name: label
          required: false
          schema:
            type: string
          description: Optional label to filter workflow runs to cancel.
        - in: query
          name: count
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum number of workflow runs to cancel. Default is 100.

      responses:
        '200':
          description: All workflow runs cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  cancelled:
                    type: integer
                    description: The number of workflow runs that were cancelled.
  /v2/workflows/dlq/resume/{dlqId}:
    post:
      tags:
        - DLQ
      summary: Resume Workflow from DLQ
      description: |
        Resume a failed workflow run from the DLQ. The workflow will continue from where it failed.

        When a workflow is resumed, it continues execution from the last failed step. A new workflow run ID is generated,
        but the workflow maintains the state and results from previously completed steps.

        You can pass configuration headers (with `Upstash-` prefix) to override the configuration of the workflow steps.
        For example, to change the retry count for remaining steps, pass `Upstash-Retries: 5` header.
        Available configuration headers include: `Upstash-Retries`, `Upstash-Delay`, `Upstash-Retry-Delay`,
        `Upstash-Flow-Control-Key`, `Upstash-Flow-Control-Value`, `Upstash-Label`, and `Upstash-Failure-Callback`.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the workflow run to resume.
        - in: header
          name: Upstash-Retries
          required: false
          schema:
            type: integer
          description: Override the number of retries for the remaining workflow steps.
        - in: header
          name: Upstash-Delay
          required: false
          schema:
            type: string
          description: Override the delay before executing the next workflow step. Format is `<value><unit>` (e.g., "10s", "5m").
        - in: header
          name: Upstash-Retry-Delay
          required: false
          schema:
            type: string
          description: Override the retry delay expression for the remaining workflow steps.
        - in: header
          name: Upstash-Flow-Control-Key
          required: false
          schema:
            type: string
          description: Override the flow control key for the remaining workflow steps.
        - in: header
          name: Upstash-Flow-Control-Value
          required: false
          schema:
            type: string
          description: Override the flow control configuration in the format `parallelism=<value>, rate=<value>, period=<value>`.
        - in: header
          name: Upstash-Label
          required: false
          schema:
            type: string
          description: Override the label for the remaining workflow steps.
        - in: header
          name: Upstash-Failure-Callback
          required: false
          schema:
            type: string
          description: Override the failure callback URL for the remaining workflow steps.
      responses:
        '200':
          description: Workflow resumed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRunId:
                    type: string
                    description: The ID of the resumed workflow run (a new ID is generated for the resumed run).
                  workflowCreatedAt:
                    type: integer
                    format: int64
                    description: The timestamp when the resumed workflow run was created (Unix timestamp in milliseconds).
        '400':
          description: Bad Request - Invalid DLQ ID, not a workflow message, or workflow doesn't support resume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DLQ message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq/resume:
    post:
      tags:
        - DLQ
      summary: Bulk Resume Workflows from DLQ
      description: |
        Resume multiple failed workflow runs from the DLQ. Each workflow will continue from where it failed.

        When workflows are resumed, they continue execution from their last failed step. New workflow run IDs are generated,
        but the workflows maintain the state and results from previously completed steps.

        You can pass configuration headers (with `Upstash-` prefix) to override the configuration of the workflow steps.
        For example, to change the retry count for remaining steps, pass `Upstash-Retries: 5` header.
        Available configuration headers include: `Upstash-Retries`, `Upstash-Delay`, `Upstash-Retry-Delay`,
        `Upstash-Flow-Control-Key`, `Upstash-Flow-Control-Value`, `Upstash-Label`, and `Upstash-Failure-Callback`.
      parameters:
        - in: query
          name: dlqIds
          required: false
          schema:
            type: array
            items:
              type: string
          description: List of specific DLQ IDs to resume. If provided, other filters are ignored.
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: Pagination cursor for resuming workflows in batches.
        - in: query
          name: count
          required: false
          schema:
            type: integer
          description: Maximum number of workflows to resume. If not provided, all matching workflows will be resumed.
        - in: query
          name: fromDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by starting date, in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: toDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by ending date, in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: workflowUrl
          required: false
          schema:
            type: string
          description: Filter workflows by workflow URL.
        - in: query
          name: workflowRunId
          required: false
          schema:
            type: string
          description: Filter workflows by workflow run ID.
        - in: query
          name: workflowCreatedAt
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by creation timestamp in milliseconds (Unix timestamp).
        - in: query
          name: label
          required: false
          schema:
            type: string
          description: Filter workflows by label assigned by the user.
        - in: query
          name: failureFunctionState
          required: false
          schema:
            type: string
          description: Filter workflows by failure function state.
        - in: query
          name: callerIp
          required: false
          schema:
            type: string
          description: Filter workflows by IP address of the publisher.
        - in: query
          name: flowControlKey
          required: false
          schema:
            type: string
          description: Filter workflows by Flow Control Key.
        - in: header
          name: Upstash-Retries
          required: false
          schema:
            type: integer
          description: Override the number of retries for the remaining workflow steps.
        - in: header
          name: Upstash-Delay
          required: false
          schema:
            type: string
          description: Override the delay before executing the next workflow step. Format is `<value><unit>` (e.g., "10s", "5m").
        - in: header
          name: Upstash-Retry-Delay
          required: false
          schema:
            type: string
          description: Override the retry delay expression for the remaining workflow steps.
        - in: header
          name: Upstash-Flow-Control-Key
          required: false
          schema:
            type: string
          description: Override the flow control key for the remaining workflow steps.
        - in: header
          name: Upstash-Flow-Control-Value
          required: false
          schema:
            type: string
          description: Override the flow control configuration in the format `parallelism=<value>, rate=<value>, period=<value>`.
        - in: header
          name: Upstash-Label
          required: false
          schema:
            type: string
          description: Override the label for the remaining workflow steps.
        - in: header
          name: Upstash-Failure-Callback
          required: false
          schema:
            type: string
          description: Override the failure callback URL for the remaining workflow steps.
      responses:
        '200':
          description: Workflows resumed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRuns:
                    type: array
                    items:
                      type: object
                      properties:
                        workflowRunId:
                          type: string
                          description: The ID of the resumed workflow run (a new ID is generated for each resumed run).
                        workflowCreatedAt:
                          type: integer
                          format: int64
                          description: The timestamp when the resumed workflow run was created (Unix timestamp in milliseconds).
                    description: Array of resumed workflow runs.
                  cursor:
                    type: string
                    description: Pagination cursor to use in subsequent requests. If empty, all matching workflows have been processed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Some DLQ messages were not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq/restart/{dlqId}:
    post:
      tags:
        - DLQ
      summary: Restart Workflow from DLQ
      description: |
        Restart a failed workflow run from the DLQ. The workflow will start from the beginning.

        Unlike resume, which continues from where the workflow failed, restart executes the entire workflow
        from the first step. A new workflow run ID is generated and all steps will be executed again.

        You can pass configuration headers (with `Upstash-` prefix) to override the configuration of the workflow.
        For example, to change the retry count, pass `Upstash-Retries: 5` header.
        Available configuration headers include: `Upstash-Retries`, `Upstash-Delay`, `Upstash-Retry-Delay`,
        `Upstash-Flow-Control-Key`, `Upstash-Flow-Control-Value`, `Upstash-Label`, and `Upstash-Failure-Callback`.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the workflow run to restart.
        - in: header
          name: Upstash-Retries
          required: false
          schema:
            type: integer
          description: Override the number of retries for the workflow steps.
        - in: header
          name: Upstash-Delay
          required: false
          schema:
            type: string
          description: Override the delay before executing the workflow. Format is `<value><unit>` (e.g., "10s", "5m").
        - in: header
          name: Upstash-Retry-Delay
          required: false
          schema:
            type: string
          description: Override the retry delay expression for the workflow steps.
        - in: header
          name: Upstash-Flow-Control-Key
          required: false
          schema:
            type: string
          description: Override the flow control key for the workflow.
        - in: header
          name: Upstash-Flow-Control-Value
          required: false
          schema:
            type: string
          description: Override the flow control configuration in the format `parallelism=<value>, rate=<value>, period=<value>`.
        - in: header
          name: Upstash-Label
          required: false
          schema:
            type: string
          description: Override the label for the workflow.
        - in: header
          name: Upstash-Failure-Callback
          required: false
          schema:
            type: string
          description: Override the failure callback URL for the workflow.
      responses:
        '200':
          description: Workflow restarted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRunId:
                    type: string
                    description: The ID of the restarted workflow run (a new ID is generated for the restarted run).
                  workflowCreatedAt:
                    type: integer
                    format: int64
                    description: The timestamp when the restarted workflow run was created (Unix timestamp in milliseconds).
        '400':
          description: Bad Request - Invalid DLQ ID, not a workflow message, or workflow doesn't support restart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DLQ message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq/restart:
    post:
      tags:
        - DLQ
      summary: Bulk Restart Workflows from DLQ
      description: |
        Restart multiple failed workflow runs from the DLQ. Each workflow will start from the beginning.

        Unlike resume, which continues from where workflows failed, restart executes the entire workflows
        from the first step. New workflow run IDs are generated and all steps will be executed again.

        You can pass configuration headers (with `Upstash-` prefix) to override the configuration of the workflows.
        For example, to change the retry count, pass `Upstash-Retries: 5` header.
        Available configuration headers include: `Upstash-Retries`, `Upstash-Delay`, `Upstash-Retry-Delay`,
        `Upstash-Flow-Control-Key`, `Upstash-Flow-Control-Value`, `Upstash-Label`, and `Upstash-Failure-Callback`.
      parameters:
        - in: query
          name: dlqIds
          required: false
          schema:
            type: array
            items:
              type: string
          description: List of specific DLQ IDs to restart. If provided, other filters are ignored.
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: Pagination cursor for restarting workflows in batches.
        - in: query
          name: count
          required: false
          schema:
            type: integer
          description: Maximum number of workflows to restart. If not provided, all matching workflows will be restarted.
        - in: query
          name: fromDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by starting date, in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: toDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by ending date, in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: workflowUrl
          required: false
          schema:
            type: string
          description: Filter workflows by workflow URL.
        - in: query
          name: workflowRunId
          required: false
          schema:
            type: string
          description: Filter workflows by workflow run ID.
        - in: query
          name: workflowCreatedAt
          required: false
          schema:
            type: integer
            format: int64
          description: Filter workflows by creation timestamp in milliseconds (Unix timestamp).
        - in: query
          name: label
          required: false
          schema:
            type: string
          description: Filter workflows by label assigned by the user.
        - in: query
          name: failureFunctionState
          required: false
          schema:
            type: string
          description: Filter workflows by failure function state.
        - in: query
          name: callerIp
          required: false
          schema:
            type: string
          description: Filter workflows by IP address of the publisher.
        - in: query
          name: flowControlKey
          required: false
          schema:
            type: string
          description: Filter workflows by Flow Control Key.
        - in: header
          name: Upstash-Retries
          required: false
          schema:
            type: integer
          description: Override the number of retries for the workflow steps.
        - in: header
          name: Upstash-Delay
          required: false
          schema:
            type: string
          description: Override the delay before executing the workflows. Format is `<value><unit>` (e.g., "10s", "5m").
        - in: header
          name: Upstash-Retry-Delay
          required: false
          schema:
            type: string
          description: Override the retry delay expression for the workflow steps.
        - in: header
          name: Upstash-Flow-Control-Key
          required: false
          schema:
            type: string
          description: Override the flow control key for the workflows.
        - in: header
          name: Upstash-Flow-Control-Value
          required: false
          schema:
            type: string
          description: Override the flow control configuration in the format `parallelism=<value>, rate=<value>, period=<value>`.
        - in: header
          name: Upstash-Label
          required: false
          schema:
            type: string
          description: Override the label for the workflows.
        - in: header
          name: Upstash-Failure-Callback
          required: false
          schema:
            type: string
          description: Override the failure callback URL for the workflows.
      responses:
        '200':
          description: Workflows restarted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRuns:
                    type: array
                    items:
                      type: object
                      properties:
                        workflowRunId:
                          type: string
                          description: The ID of the restarted workflow run (a new ID is generated for each restarted run).
                        workflowCreatedAt:
                          type: integer
                          format: int64
                          description: The timestamp when the restarted workflow run was created (Unix timestamp in milliseconds).
                    description: Array of restarted workflow runs.
                  cursor:
                    type: string
                    description: Pagination cursor to use in subsequent requests. If empty, all matching workflows have been processed.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Some DLQ messages were not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq:
    get:
      tags:
        - DLQ
      summary: List Failed Workflow Runs
      description: |
        List and paginate through all failed workflow runs currently in the DLQ.

        Failed workflows end up in the DLQ after exhausting all retry attempts. You can filter,
        paginate, and inspect these failures to understand what went wrong and decide whether to
        resume, restart, or delete them.
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: Pagination cursor. If provided, returns the next page of results.
        - in: query
          name: count
          required: false
          schema:
            type: integer
            default: 100
            maximum: 100
          description: The maximum number of failed workflow runs to return per page.
        - in: query
          name: order
          required: false
          schema:
            type: string
            enum: [latestFirst, earliestFirst]
            default: earliestFirst
          description: The sorting order of workflow runs by timestamp.
        - in: query
          name: fromDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by starting date in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: toDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by ending date in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: workflowUrl
          required: false
          schema:
            type: string
          description: Filter by workflow URL.
        - in: query
          name: workflowRunId
          required: false
          schema:
            type: string
          description: Filter by workflow run ID.
        - in: query
          name: workflowCreatedAt
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by workflow creation timestamp in milliseconds (Unix timestamp).
        - in: query
          name: label
          required: false
          schema:
            type: string
          description: Filter by label assigned to the workflow run.
        - in: query
          name: failureFunctionState
          required: false
          schema:
            type: string
          description: Filter by failure function state.
        - in: query
          name: callerIp
          required: false
          schema:
            type: string
          description: Filter by IP address of the publisher.
        - in: query
          name: flowControlKey
          required: false
          schema:
            type: string
          description: Filter by Flow Control Key.
      responses:
        '200':
          description: List of failed workflow runs
          content:
            application/json:
              schema:
                type: object
                properties:
                  cursor:
                    type: string
                    description: Pagination cursor for the next page. Empty if no more results.
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowDLQMessage'
                    description: Array of failed workflow messages.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - DLQ
      summary: Bulk Delete Failed Workflow Runs
      description: |
        Delete multiple failed workflow runs from the DLQ.

        You can either specify specific DLQ IDs to delete, or use filters to delete matching workflows.
        When using filters without DLQ IDs, the operation supports pagination via cursor.
      parameters:
        - in: query
          name: dlqIds
          required: false
          schema:
            type: array
            items:
              type: string
          description: List of specific DLQ IDs to delete. If provided, other filters are ignored.
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: Pagination cursor for deleting in batches.
        - in: query
          name: count
          required: false
          schema:
            type: integer
          description: Maximum number of workflows to delete per request.
        - in: query
          name: fromDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by starting date in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: toDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by ending date in milliseconds (Unix timestamp). This is inclusive.
        - in: query
          name: workflowUrl
          required: false
          schema:
            type: string
          description: Filter by workflow URL.
        - in: query
          name: workflowRunId
          required: false
          schema:
            type: string
          description: Filter by workflow run ID.
        - in: query
          name: workflowCreatedAt
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by workflow creation timestamp in milliseconds (Unix timestamp).
        - in: query
          name: label
          required: false
          schema:
            type: string
          description: Filter by label assigned to the workflow run.
        - in: query
          name: failureFunctionState
          required: false
          schema:
            type: string
          description: Filter by failure function state.
        - in: query
          name: callerIp
          required: false
          schema:
            type: string
          description: Filter by IP address of the publisher.
        - in: query
          name: flowControlKey
          required: false
          schema:
            type: string
          description: Filter by Flow Control Key.
      responses:
        '200':
          description: Workflows deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer
                    format: int64
                    description: The number of workflow runs that were deleted.
                  cursor:
                    type: string
                    description: Pagination cursor for the next batch. Only present when using filters without DLQ IDs.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq/{dlqId}:
    get:
      tags:
        - DLQ
      summary: Get Failed Workflow Run
      description: |
        Get details of a specific failed workflow run from the DLQ.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the failed workflow run.
      responses:
        '200':
          description: Failed workflow run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDLQMessage'
        '400':
          description: Bad Request - Invalid DLQ ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DLQ message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - DLQ
      summary: Delete Failed Workflow Run
      description: |
        Delete a specific failed workflow run from the DLQ.

        Use this endpoint to remove a workflow from the DLQ after you have addressed the issue
        or determined that the workflow should not be retried.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the failed workflow run to delete.
      responses:
        '200':
          description: Workflow deleted successfully
        '400':
          description: Bad Request - Invalid DLQ ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DLQ message not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/dlq/callback/{dlqId}:
    post:
      tags:
        - DLQ
      summary: Retry Failure Callback
      description: |
        Retry a failed workflow failure callback from the DLQ.

        When a workflow fails and has a failure callback configured, the callback is invoked.
        If the failure callback itself fails after all retries, it ends up in the DLQ.
        This endpoint allows you to retry that failed failure callback.

        The callback must be in a failed state (not in-progress, not successful, not canceled).
        Once retried, the callback is republished and its state becomes in-progress.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the failed workflow run whose failure callback should be retried.
      responses:
        '200':
          description: Failure callback retried successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowRunId:
                    type: string
                    description: The ID of the workflow run.
                  workflowCreatedAt:
                    type: integer
                    format: int64
                    description: The timestamp when the workflow run was created (Unix timestamp in milliseconds).
        '400':
          description: Bad Request. Workflow doesn't have a failed callback, callback is already in-progress, succeeded, or was canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DLQ message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - DLQ
      summary: Cancel In-Progress Failure Callback
      description: |
        Cancel an in-progress failure callback for a failed workflow.

        When you retry a failed failure callback using the POST endpoint, it enters an in-progress state.
        This endpoint allows you to cancel that in-progress callback before it completes.

        The callback must be in an in-progress state. If there's no in-progress callback,
        the request will fail with a 400 error.
      parameters:
        - in: path
          name: dlqId
          required: true
          schema:
            type: string
          description: The DLQ ID of the workflow run whose in-progress failure callback should be canceled.
      responses:
        '302':
          description: Failure callback canceled successfully
        '400':
          description: Bad Request - No in-progress failure callback to cancel, or callback information is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Failure callback not found or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/flowControl:
    get:
      tags:
        - Flow Control
      summary: List Flow Control Keys
      description: |
        List all Flow Control keys used in workflows.

        Flow Control keys are used to manage concurrency and rate limiting for workflow steps.
        This endpoint returns all active flow control keys with their current waitlist sizes,
        sorted by waitlist size in descending order. Results are limited to 1000 keys.
      parameters:
        - in: query
          name: search
          required: false
          schema:
            type: string
          description: Optional search string to filter flow control keys by name. Only keys containing this string will be returned.
      responses:
        '200':
          description: Flow control keys retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlowControlKey'
                description: Array of flow control keys sorted by waitlist size in descending order, limited to 1000 results.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/flowControl/{flowControlKey}:
    get:
      tags:
        - Flow Control
      summary: Get Flow Control Key
      description: |
        Get details of a specific Flow Control key.

        Flow Control keys are used to manage concurrency and rate limiting for workflow steps.
        This endpoint returns the current waitlist size for the specified flow control key,
        which indicates how many workflow steps are currently waiting due to flow control constraints.
      parameters:
        - in: path
          name: flowControlKey
          required: true
          schema:
            type: string
          description: The Flow Control key to retrieve.
      responses:
        '200':
          description: Flow control key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowControlKey'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Flow Control key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/notify/{eventId}:
    post:
      tags:
        - Notify
      summary: Notify Event
      description: |
        Notify an event to all waiters listening for that event ID.

        This endpoint broadcasts an event to all active waiters that are waiting for the specified event.
        Each waiting workflow step receives the event data and continues execution.

        **Important:** This is an "unsafe notify" operation - if there are no active waiters when the
        notification is sent, the event is lost and will not be delivered later. For guaranteed delivery
        within a specific workflow run, use the `/v2/notify/{workflowRunId}/{eventId}` endpoint instead.

        Workflow calls (with `Upstash-Workflow-RunId` header) are exempt from daily quota limits.
      parameters:
        - in: path
          name: eventId
          required: true
          schema:
            type: string
          description: The event ID that waiters are listening for.
      requestBody:
        description: The event data to send to all waiters. This will be the request payload for waiting workflow steps.
        required: false
        content:
          application/json:
            schema:
              type: object
          text/plain:
            schema:
              type: string
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Event notification sent successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotifyResponse'
                description: Array of notification results, one for each notified waiter.
        '400':
          description: Bad Request - Invalid event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/notify/{workflowRunId}/{eventId}:
    post:
      tags:
        - Notify
      summary: Notify Workflow Run Event
      description: |
        Notify an event to a specific workflow run's waiters.

        This endpoint sends an event notification to waiters within a specific workflow run.
        Unlike the general notify endpoint, this uses a "safe notify" mechanism that guarantees
        delivery even if no waiter is currently active.

        **Safe Notify Behavior:**
        - If a waiter is currently active, it receives the notification immediately
        - If no waiter is active, the notification is saved in the database
        - When a waiter becomes active later, it will consume the saved notification
        - This ensures events are never lost due to timing issues

        Workflow calls (with `Upstash-Workflow-RunId` header) are exempt from daily quota limits.
      parameters:
        - in: path
          name: workflowRunId
          required: true
          schema:
            type: string
          description: The workflow run ID to notify.
        - in: path
          name: eventId
          required: true
          schema:
            type: string
          description: The event ID that waiters are listening for.
      requestBody:
        description: The event data to send to the waiter. This will be the request payload for the waiting workflow step.
        required: false
        content:
          application/json:
            schema:
              type: object
          text/plain:
            schema:
              type: string
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Event notification sent or saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyResponse'
        '400':
          description: Bad Request - Invalid workflow run ID or event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/waiters/{eventId}:
    get:
      tags:
        - Notify
      summary: List Waiters
      description: |
        List all active waiters for a specific event ID.

        Returns information about all workflow runs that are currently waiting for the specified event.
      parameters:
        - in: path
          name: eventId
          required: true
          schema:
            type: string
          description: The event ID to list waiters for.
      responses:
        '200':
          description: List of active waiters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Waiter'
                description: Array of waiters currently listening for this event.
        '400':
          description: Bad Request - Invalid event ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/workflows/logs:
    get:
      tags:
        - Logs
      summary: List Workflow Run Logs
      description: |
        List and filter workflow run logs with detailed execution information.

        This endpoint provides comprehensive visibility into workflow executions. It supports two modes:

        **Event Mode (default):** Returns individual workflow events (state transitions, step completions, errors).
        Use this mode to track detailed execution history and debug specific steps.

        **Run Mode (groupBy=workflowRunId):** Returns complete workflow runs with all steps grouped together.
        Use this mode to get a holistic view of workflow executions and their final states.

        The endpoint supports powerful filtering by workflow URL, run ID, state, date range, and more.
        Results are paginated using a cursor for efficient browsing of large datasets.
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            type: string
          description: Pagination cursor for fetching the next page of results.
        - in: query
          name: groupBy
          required: false
          schema:
            type: string
            enum: [workflowRunId]
          description: |
            Group results by workflow run. When set to "workflowRunId", returns complete workflow runs
            instead of individual events. Maximum 10 runs per page when grouped (vs 1000 events in event mode).
        - in: query
          name: workflowUrl
          required: false
          schema:
            type: string
          description: Filter by workflow URL (exact match). Must start with http:// or https://.
        - in: query
          name: workflowRunId
          required: false
          schema:
            type: string
          description: Filter by specific workflow run ID. When used with groupBy=workflowRunId, count must be 1.
        - in: query
          name: workflowCreatedAt
          required: false
          schema:
            type: integer
            format: int64
          description: Filter by workflow creation timestamp in milliseconds (Unix timestamp).
        - in: query
          name: messageId
          required: false
          schema:
            type: string
          description: Filter by specific message ID.
        - in: query
          name: state
          required: false
          schema:
            type: string
          description: |
            Filter by workflow or step state. Common states include:
            - RUN_STARTED, RUN_SUCCESS, RUN_FAILED, RUN_CANCELED
            - STEP_SUCCESS, STEP_RETRY, STEP_FAILED, STEP_PROGRESS, STEP_CANCELED
        - in: query
          name: fromDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter events from this date onwards in milliseconds (Unix timestamp). Inclusive.
        - in: query
          name: toDate
          required: false
          schema:
            type: integer
            format: int64
          description: Filter events up to this date in milliseconds (Unix timestamp). Inclusive.
        - in: query
          name: count
          required: false
          schema:
            type: integer
            default: 1000
            maximum: 1000
          description: |
            Maximum number of results to return per page.
            - Event mode: Max 1000 (default 1000)
            - Run mode (groupBy=workflowRunId): Max 10 (default 10)
        - in: query
          name: trimBody
          required: false
          schema:
            type: integer
            default: -1
          description: |
            Trim request/response bodies to this many bytes. Use -1 to exclude bodies entirely.
            Useful for reducing response size when bodies are large.
        - in: query
          name: rawSteps
          required: false
          schema:
            type: boolean
            default: false
          description: |
            Include raw, ungrouped step list in workflow runs (only applies when groupBy=workflowRunId).
            By default, steps are grouped by execution pattern (parallel/sequential).
      responses:
        '200':
          description: Workflow logs retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Event Mode Response
                    properties:
                      cursor:
                        type: string
                        description: Pagination cursor for the next page. Empty if no more results.
                      events:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkflowEvent'
                        description: Array of workflow events (state transitions, step completions, errors).
                  - type: object
                    title: Run Mode Response (groupBy=workflowRunId)
                    properties:
                      cursor:
                        type: string
                        description: Pagination cursor for the next page. Empty if no more results.
                      runs:
                        type: array
                        items:
                          $ref: '#/components/schemas/WorkflowRun'
                        description: Array of complete workflow runs with all steps and metadata.
        '400':
          description: Bad Request - Invalid parameters (e.g., invalid cursor, state, or groupBy value)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
