#sidebar > div > ul > div > li > div {
  font-weight: 600;
}

#sidebar > div > ul > div > li > ul {
  /* padding-left: 20px; */
  border-left: 1px solid #ddd;
}

#sidebar > div > ul > div > li > ul > li {
  margin-left: 15px;
}
